{
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module",
		"ecmaFeatures": {
            "globalReturn": true
        }
	},
	"extends": "eslint:recommended",
	"env": {
		"es6": true,
		"node": true,
		"mocha": true
	},
	"rules": {
		"no-extra-semi": ["warn"],
		"quotes": ["warn", "single"],
		"semi": ["warn", "always"]
	}
}
