{
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module"
	},
	"rules": {
		"arrow-body-style": [
			"error",
			"as-needed",
			{ "requireReturnForObjectLiteral": true }
		],
		"no-extra-semi": ["warn"],
		"quotes": ["warn", "single"],
		"semi": ["warn", "always"]
	}
}
